.advantages {
  background: linear-gradient(69.68deg, #004597 4.09%, #00a0e3 98%);
  border-radius: 20px 20px 20px 0px;
}

.advantages__title {
  margin: 0;
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  color: #ffffff;
  text-align: center;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #ffffff;
}

.advantages__item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}

.advantages__item-description {
  margin: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 21px;
}

.advantages__link,
.advantages__whatsapp {
  text-decoration: none;
  color: #ffffff;
}