.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
  color: @colorWhite;
  background-color: @colorBlue;
  text-transform: uppercase;
  padding: 14px 22px;
  border-radius: 12px 12px 12px 0px;

  &:hover {
    background-color: @colorHoverBlue;
  }
}

.btn__link {
  display: block;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  color: @colorDark;
  text-decoration: none;
  box-sizing: border-box;
  border: 1px solid @colorBlue;
  border-radius: 10px 10px 10px 0px;

  &:hover {
    color: @colorHoverBlue;
  }
}