.footer {
  padding-top: 38px;
}

.footer__link-logo {
  text-decoration: none;
  display: flex;
  font-size: 12px;
  line-height: 16px;
  color: @colorDark;
}

.footer__link-logo span {
  margin-left: 20px;
  margin-top: -3px;
}

.footer__menu-list,
.footer_services-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__menu-link,
.footer_services-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  color: @colorDark;
}

.footer__menu-list {
  margin-top: 26px;
}

.footer__menu-item:not(:first-child) {
  margin-top: 8px;
}

.footer__title {
  margin-top: 10px;
  font-size: 12px;
  line-height: 15px;
  color: @colorGray;
  text-transform: uppercase;
}

.footer__services-list {
  list-style-type: none;
  padding: 0;
  margin: 14px 0 0 0;
}

.footer__services-item:not(:first-child) {
  margin-top: 8px;
}

.footer__services-link {
  font-size: 12px;
  line-height: 19px;
  text-transform: none;
  color: @colorGray;
}

.footer__link {
  text-decoration: none;
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: @colorDark;
}

.footer__callback-phone {
  padding: 14px 20px;
  font-weight: 600;
  letter-spacing: 0.02em;
}

.footer__social,
.footer__link-email {
  display: block;
  font-size: 13px;
  line-height: 21px;
  color: @colorDark;
  text-decoration: none;
}

.footer__policy {
  display: block;
  font-size: 12px;
  line-height: 15px;
  color: @colorBlue;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.footer__text {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 15px;
  color: @colorDGray;
  letter-spacing: 0.02em;
}