html {
  scroll-behavior: smooth;
}

body {
  min-width: @m-width;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 21px;
  color: @colorDark;
  background-color: @colorWhite;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
}

.container {
  min-width: @m-width;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  color: @colorDark;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
  color: @colorDark;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 26px;
  line-height: 34px;
  font-weight: 400;
  color: @colorDark;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
