html {
  scroll-behavior: smooth;
}

body {
  min-width: @m-width;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 21px;
  color: @textColor;
  background-color: @bgColor;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
}

.container {
  min-width: @m-width;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}
