.header {
  background-color: @colorLGray;
  padding-bottom: 15px;
  transition: 1s;
  box-sizing: border-box;

  @media (min-width: @t-width) {
    position: relative;
   }
}

.header--color {
  background-color: @colorWhite;
}

.header--color .header__container {
  border-bottom: 1px solid @colorGray;
  padding-bottom: 30px;
}

.header--fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  @media (min-width: @t-width) {
    position: relative;
  }
}

.header--nojs .header__navigation {
  display: block;
}

.header--closed-menu .header__navigation {
  display: none;

  @media (min-width: @t-width) {
    display: block;
  }
}

.header--open-menu .header__navigation {
  display: block;
}

.header__link {
  display: flex;
  text-decoration: none;
  margin-top: 19px;

  @media (min-width : @t-width) {
    margin-top: 31px;
  }

  @media (min-width: @d-width) {
    margin-top: 37px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__svg {
  @media (min-width: @t-width) {
    width: 160px;
    height: 48px;
  }
}

.header__link span {
  margin-top: -3px;
  margin-left: 15px;
  font-size: 9.5px;
  line-height: 12.35px;
  color: @colorDark;

  @media (min-width: @t-width) {
    display: none;
  }

  @media (min-width: @d-width) {
    display: block;
    font-size: 14px;
    line-height: 20px;
    margin-top: -6px;
    margin-left: 30px;
  }
}

.header__toggle {
  display: block;
  margin: 25px 0 0 0;
  width: 24px;
  height: 19px;
  background-color: transparent;
  background-image: url(../img/toggle.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  outline: 0;
  cursor: pointer;

  @media (min-width: @t-width) {
    display: none;
  }
}

.header--open-menu .header__toggle,
.header--nojs .header__toggle {
  background-image: url(../img/burger.svg);
}