.main__advantages {
  margin-top: -63px;
  padding-top: 70px;
  padding-bottom: 52px;
}

.main__services {
  padding-top: 62px;
  padding-bottom: 55px;
}

.main__progress {
  padding-top: 61px;
  padding-bottom: 70px;
}

.main__plan {
  padding-top: 60px;
}