
.main__promo {
  @media (min-width: @t-width) {
    padding-bottom: 40px;
  }

  @media (min-width: @d-width) {
    padding-bottom: 331px;
  }
}

.main__advantages {
  margin-top: -63px;
  padding-top: 70px;
  padding-bottom: 52px;

  @media (min-width: @t-width) {
    margin-top: -10px;
    padding-top: 100px;
  }
}

.main__services {
  padding-top: 62px;
  padding-bottom: 55px;

  @media (min-width: @t-width) {
    padding-top: 90px;
    padding-bottom: 23px;
  }
}

.main__progress {
  padding-top: 61px;
  padding-bottom: 70px;

  @media (min-width: @t-width) {
    padding-top: 111px;
    padding-bottom: 110px;
  }
}

.main__plan {
  padding-top: 60px;
  padding-bottom: 61px;

  @media (min-width: @t-width) {
    padding-top: 90px;
    padding-bottom: 65px;
  }
}

.main__portfolio {
  padding-top: 60px;
  padding-bottom: 15px;

  @media (min-width: @t-width) {
    padding-top: 91px;
    padding-bottom: 32px;
  }
}

.main__reviews {
  padding-top: 61px;
  padding-bottom: 60px;

  @media (min-width: @t-width) {
    padding-top: 92px;
    padding-bottom: 241px;
  }
}

.main__about {
  padding-top: 60px;
  padding-bottom: 19px;

  @media (min-width: @t-width) {
    padding-top: 90px;
    padding-bottom: 40px;
  }
}

.main__partners {
  padding-top: 40px;
  padding-bottom: 38px;

  @media (min-width: @t-width) {
    padding-top: 58px;
    padding-bottom: 60px;
  }
}

.main__documents {
  padding-top: 40px;
  padding-bottom: 60px;

  @media (min-width: @t-width) {
    padding-top: 60px;
  }
}

.main__news {
  padding-top: 61px;
  padding-bottom: 60px;

  @media (min-width: @t-width) {
    padding-top: 88px;
    padding-bottom: 102px;
  }
}

.main__form {
  padding-top: 61px;
  padding-bottom: 60px;

  @media (min-width: @t-width) {
    padding-top: 80px;
    padding-bottom: 101px;
  }
}