.page {
  @media (min-width: @t-width) {
    position: relative;
  }
}

.page__main {
  @media (min-width: @t-width) {
    padding-top: 163px;
  }
}

.page__constructor {
  @media (min-width: @t-width) {
    padding-top: 183px;
  }
}

.page__main-services {
  padding-top: 5px;

  @media (min-width: @t-width) {
    padding-top: 183px;
  }
}

.page__article {
  @media (min-width: @t-width) {
    padding-top: 183px;
  }
}

.page__footer {
  padding-bottom: 20px;

  @media (min-width: @t-width) {
    padding-bottom: 40px;
  }

  @media (min-width: @d-width) {
    padding-bottom: 60px;
  }
}