.partners__title {
  text-align: center;
}

.partners__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.partners__text {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 19px;
  color: @colorDark;
  text-align: center;
}