.plan__title {
  padding: 0 20px;
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 39px;
  color: #333333;
  text-align: center;
}

.plan__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.plan__item b {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #333333;
}

.plan__sublist {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.plan__sublist-item {
  color: #333333;
}

.plan__sublist-item a {
  color: #00a0e3;
}