.plan__title {
  text-align: center;
}

.plan__list {
  margin: 39px 0 0 0;
  padding: 0;
  list-style-type: none;
}

.plan__item {
  padding-left: 51px;
}

.plan__item:not(:first-child) {
  margin-top: 23px;
}

.plan__item b {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: @colorDark;
}

.plan__sublist {
  margin: 7px 0 0 0;
  padding: 0 0 0 19px;
  list-style-type: none;
}

.plan__sublist-item {
  position: relative;
  color: @colorDark;
}

.plan__sublist-item:not(:first-child) {
  margin-top: 6px;
}

.plan__sublist-item a {
  color: @colorBlue;
}