.portfolio__title {
  text-align: center;
}

.portfolio__list-group {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.portfolio__item-link {
  display: inline-block;
  text-decoration: none;
  font-size: 10px;
  line-height: 12px;
  color: @colorDark;
  background-color: transparent;
  padding: 8px 12px;
  border: 1px solid @colorBlue;
  border-radius: 8px;

  &:focus {
    background-color: @colorBlue;
    color: @colorWhite;
  }

  &:hover {
    color: @colorBlue;
  }
}

.portfolio__item-link--active {
  background-color: @colorBlue;
  color: @colorWhite;
}

.portfolio__list-img {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.portfolio__item-img img {
  display: block;
}