.services__title {
  text-align: left;
}

.services__list {
  margin: 39px 0 0 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @t-width) {
    margin: 60px 0 0 0;
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    column-gap: 33px;
    row-gap: 59px;
  }

  @media (min-width: @d-width) {
    grid-template-columns: repeat(3, 2fr);
  }
}

.services__item:not(:first-child) {
  margin-top: 28px;

  @media (min-width: @t-width) {
    margin-top: 0;
  }
}

.services__link {
  text-decoration: none;
}

.services__text {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin-top: 0;
  font-size: 20px;
  line-height: 27px;
  color: @colorDark;
  position: relative;

  @media (min-width: @t-width) {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
  }
}


.services__item h3.services__text::before {
  content: "";
    display: block;
    min-width: 80px;
    min-height: 102px;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: @t-width) {
      min-width: 84px;
      min-height: 107px;
      background-size: 84px 107px;
      margin-right: 20px;
    }
}

.services__item--first h3.services__text::before {
  content: "";
    background-image: url("../img/Uslugi_icon_1.svg");

    @media (min-width: @t-width) {
      background-image: url("../img/Uslugi_icon_1t.svg");
    }
}

.services__item--second h3.services__text::before {
  content: "";
    background-image: url("../img/Uslugi_icon_2.svg");

    @media (min-width: @t-width) {
      background-image: url("../img/Uslugi_icon_2t.svg");
    }
}

.services__item--third h3.services__text::before {
  content: "";
    background-image: url("../img/Uslugi_icon_3.svg");

    @media (min-width: @t-width) {
      background-image: url("../img/Uslugi_icon_3t.svg");
    }
}

.services__item--fouth h3.services__text::before {
  content: "";
    background-image: url("../img/Uslugi_icon_4.svg");

    @media (min-width: @t-width) {
      background-image: url("../img/Uslugi_icon_4t.svg");
    }
}

.services__item--fifth h3.services__text {
  @media (min-width: @d-width) {
    padding-right: 45px;
  }
}

.services__item--fifth h3.services__text::before {
  content: "";
    background-image: url("../img/Uslugi_icon_5.svg");

    @media (min-width: @t-width) {
      background-image: url("../img/Uslugi_icon_5t.svg");
    }
}

.services__item--sixth h3.services__text::before {
  content: "";
    background-image: url("../img/Uslugi_icon_6.svg");

    @media (min-width: @t-width) {
      background-image: url("../img/Uslugi_icon_6t.svg");
    }
}

.services__list-category {
  margin: 20px 0 0 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @t-width) {
    margin-top: 36px;
  }
}

.services__item-category {
  display: block;
}

.services__item-category:not(:first-child) {
  margin-top: 10px;
  @media (min-width: @t-width) {
    margin-top: 14px;
  }
}

.services__item-category a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  color: @colorDGray;

  &:hover {
    color: @colorBlue;
  }
}