.services__title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  color: #333333;
  text-align: center;
}

.services__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services__link {
  text-decoration: none;
}

.services__text {
  font-size: 20px;
  line-height: 27px;
  color: #333333;
}