.services__title {
  text-align: center;
}

.services__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services__link {
  text-decoration: none;
}

.services__text {
  font-size: 20px;
  line-height: 27px;
  color: @colorDark;
}