@m-width: 360px;
@t-width: 1200px;
@d-width: 1920px;

.theme_white {
    --colorWhite: #ffffff;
    --colorLGray: #f5f5f5;
    --colorMGray: #c9c9c9;
    --colorGray: #a9a9a9;
    --colorDGray: #505050;
    --colorBlue: #00a0e3;
    --colorHoverBlue: #007eb3;
    --gradient: linear-gradient(69.68deg, #004597 4.09%, #00a0e3 98%);
    --colorDark: #282828;
    --colorBlack: #222222;
}
.theme_dark {
    --colorWhite: #222222;   
    --colorLGray: #282828;
    --colorMGray: #c9c9c9;
    --colorGray: #a9a9a9;
    --colorDGray: #f5f5f5;
    --colorBlue : #00A0E3;
    --colorHoverBlue: #007eb3;
    --gradient: linear-gradient(69.68deg, #004597 4.09%, #00a0e3 98%);
    --colorDark: #f5f5f5;
    --colorBlack: #ffffff;
    color: #fff!important;
}